:root {
    background-color: rgb(53, 53, 53);
    --color-purple: #965fb6;
}

[v-cloak] {
    display: none;
}

.myclass {
    position: absolute;
    top: 10vh;
    right: 10vh;
    width: 40vh;
    height: auto;
    /* outline: red dotted 5px; */
}

.rounded-borders {
    border-radius: 1vh;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements on the page */
}

#kofi {
    position: absolute;
    bottom: -10vh;
    left: 1vh;
}
#ButtonIcon{
    padding: 1vh;
    color: var(--color-purple) !important;
}

#ButtonIcon:hover {
    color: var(--color-purple);
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-purple);
    border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b070d4;
}

a {
    color: transparent;
}