@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

:root {
    background-color: rgb(53, 53, 53);
    --color-purple: #965fb6;
}

#q-app {
    font-family: 'Rubik', sans-serif;
}

[v-cloak] {
    display: none;
}

.myclass {
    position: absolute;
    top: 10vh;
    right: 10vh;
    width: 40vh;
    height: auto;
    /* outline: red dotted 5px; */
}

.rounded-borders {
    border-radius: 1vh;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements on the page */
    background-color: #261f2b;
}

#kofi {
    position: absolute;
    bottom: -10vh;
    left: 1vh;
}
#ButtonIcon{
    padding: 1vh;
    color: var(--color-purple) !important;
}

#ButtonIcon:hover {
    color: var(--color-purple);
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-purple);
    border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b070d4;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectCard {
    width: 100%;
    max-width: 50vh;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#ProjectImage {
    max-height: 25vh;
}

#HeaderText{
    font-size: 4vh;
    font-weight: 600;
}

#sticky-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #965fb6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000;
}

#sticky-button:hover {
    background-color: #b070d4;
}